<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body>
    <nav
      style="display: flex; justify-content: space-around; align-items: center"
    >
      <a href="./home">Home</a>
      <a href="./about">About</a>
      <a href="./contact">Contact</a>
    </nav>
    <hr />
    <h1>I am from Home Page</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et tempore
      numquam optio non amet recusandae officiis sunt tempora veritatis.
      Blanditiis omnis mollitia atque perspiciatis doloribus! Quidem accusamus
      odit eaque ab?
    </p>

    <button>Click Here</button>

    <script src="../scripts/main.js"></script>
  </body>
</html>
